<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<meta name="description" content=" ">
<meta name="author" content="">
<meta name="keywords" content="">
<link href="/images/favicon.png" rel="shortcut icon">

<link rel='stylesheet' href='/stylesheets/common.css'/>
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="/html5shiv/dist/html5shiv.js"></script>
<script src="/respond/dest/respond.min.js"></script>
<![endif]-->